

/* Atividades */
.atividades {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    
}

/* .atividades__subtitulo {
    width: 100%;
}   */

.atividades__lista{
    background: rgba(255, 255, 255, 0.6);
    max-width: 300px;
    margin: auto;
    padding: 25px 25px;
    border-radius: 10px;
    display: inline-block;

}

.atividades__lista li {
    margin-top:13px;
}

.atividades__lista:hover{
    box-shadow: 5px 5px 1px rgb(12 48 63 / 50%);
}

.atividades__slider {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 100px;
}

.atividades__slider:hover{
    width: 302px;
    box-shadow: 5px 5px 1px rgb(227 108 12 / 50%);
}

.atividades__slider .caixa__fotos {
    width: 500%;
    animation: animacao;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}


.atividades__slider .caixa__fotos img {
    width: 19.99%;
    border-radius: 10px;
    align-items: center;
   
}


@keyframes animacao {
    0%  { margin-left:  0;}
    20% { margin-left:  0;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    95% { margin-left: -300%;}
    100% { margin-left: -400%;}

}



@media screen and (max-width: 768px) {


    .atividades {
        
        padding: 30px;
    }

}
