/* Seção Principal */

    
.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background: var(--gradiente-menu);
    height: 90vh;
    width: 100%;
}


.principal__conteudo {
    min-width: 300px;
    padding: 30px;
}

.principal__titulo{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color:var(--azul-principal);
    margin-bottom: 1em;
}

.principal__descricao{
    margin: 1em 0;
    font-style: italic;
    font-size: 18px;
}

.principal__botao{
    margin: 10px 0 ;
    border: none;
    background-color: var(--laranja-principal);
    color:var(--branco-principal);
    border-radius: 5px;
}

.principal__botao:hover{
    box-shadow: 1px 1px 1px var(--laranja-principal);
    background-color: var(--azul-principal);
    cursor: pointer;
}

.principal__imagem {
    max-width: 400px;
    align-self: center;
}

@media screen and (max-width: 768px) {


    .principal__imagem {
        min-width: 150px;
    }

}

@media screen and (max-width: 425px) {
    .principal{
        flex-direction: column;
        margin-top: 100px;
    }

    .principal__conteudo{
        width: 100px;
    }
} 