:root {
    --branco-principal: #FFFFFF;
    --preto-principal: #000000;
    --laranja-principal:#e27628;
    --cinza-principal:#C0C0C0;
    --azul-principal:#0c303f;
    --azul-secundario:#2498c0;
    --verde-principal: #c2e59c;
    --gradiente-principal: linear-gradient(45deg, #c2e59c, #64b3f4);
    --gradiente-secundario: linear-gradient(135deg, #64b3f4, #c2e59c );
    --teste-background1: #ffff00;
    --fonte-principal: 'Inter';
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

/* Cabeçalho */

.menu {
    background: var(--gradiente-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 100%;

    box-sizing: border-box;
    padding: 0 30px;
        
    position: fixed;
    top:0;
    left:0;
    box-shadow: 0px 4px 4px rgba(15, 42, 117, 0.16);
}

.menu__logo {
    display: inline;
    width: 150px;
}

.menu__lista{
    list-style: none;
    font-size: 17px;
}

.lista__item{
    display: inline-block;
    margin: 0 1em;
}

.lista__item a{
    text-decoration: none;
    color: var(--azul-principal);
}

.lista__item a:hover{
    color: var(--laranja-principal);
    font-weight: bold;
}

/* Seção Principal */
.container {
    background: var(--gradiente-principal);
    height: 120vh;
    width: 100%; 
}
    
.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /* margin-top: 108px; margin para resposnsividade */
}


.principal__conteudo {
    margin: 0 auto;
}

.principal__titulo{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color:var(--azul-principal);
    margin-bottom: 1em;
}

.principal__descricao{
    margin: 1em 0;
    font-style: italic;
    font-size: 18px;
}

.principal__botao{
    margin: 10px 0 ;
    padding: 10px;
    border: none;
    background-color: var(--laranja-principal);
    color:var(--branco-principal);
    border-radius: 5px;
}

.principal__botao:hover{
    box-shadow: 1px 1px 1px var(--laranja-principal);
    background-color: var(--azul-principal);
    cursor: pointer;
}

.caixa__imagem {
    width: 50%;
}

.principal__imagem {
    width: 80%;
}


/* Seção Quem SomoS */

.quem-somos{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 10px;
    color:var(--azul-principal);
}

.caixa__subtitulo {
    width: 100%;
}

.subtitulo {
   text-align: center;
   font-weight: 700;
   font-size: 30px;
}

.caixa__imagem{
    margin: auto;
    width: 40%; 
    
}

.quem-somos__imagem{
    width: 90%;
    border-radius: 40px 0 40px 0;
    transition: 500ms;
}

.quem-somos__imagem:hover{
    width: 92%;
    border-radius: 40px 0 40px 0;
    box-shadow: 5px 5px 1px rgb(227 108 12 / 50%);
}

.quem-somos__conteudo {
    display: inline-block;
    background: rgba(255, 255, 255, 0.6);
    color:var(--azul-principal);
    max-width: 550px;
    margin: auto;
    padding: 20px 25px;
    border-radius: 10px;
}

.quem-somos__titulo {
    margin-bottom: 10px;
    font-weight: 700;
}

.quem-somos__descricao {
    text-align: justify;
    margin-bottom: 15px;
}

.quem-somos__citaçao{
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.quem-somos__citaçao q {
    font-style: italic;
}

/* Rodapé */

.rodape {
    background-color: var(--azul-principal);
    color:var(--cinza-principal);
    box-shadow: -4px -4px 6px rgb(20, 177, 111) ;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lista__redes-sociais {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape__item {
    margin: 10px;
}

.rodape__item a {
  text-decoration: none;
}

.rodape__item i {
    font-size: 1.5em;
    color:var(--branco-principal);
}

.rodape__item i:hover{
    color:var(--laranja-principal);
    font-size: 1.7em; 
}

.rodape__copyright{
    font-size: 0.7em;
    text-align: center;
    margin: 10px 0;
}